---
layout: ""
page_title: "satori_access_rule (Resource)"
description: |-
satori_access_rule resource allows defining dataset access rules.
---

# satori_access_rule (Resource)

The **satori_access_rule** resource allows defining dataset access rules.

## Example Usage

{{tffile "examples/access_rule/access_rule.tf"}}

{{ .SchemaMarkdown | trimspace }}