---
layout: ""
page_title: "satori_custom_taxonomy_category (Resource)"
description: |-
satori_custom_taxonomy_category resource allows defining custom taxonomy categories.
---

# satori_custom_taxonomy_category (Resource)

The **satori_custom_taxonomy_category** resource allows defining custom taxonomy categories.

## Example Usage

{{tffile "examples/taxonomy/taxonomy.tf"}}

{{ .SchemaMarkdown | trimspace }}