---
layout: ""
page_title: "satori_datstore (Resource)"
description: |-
satori_datastore resource allows defining datastore(s)
---

# satori_datastore (Resource)

Satori provides the ability to connect to broad range of data stores repositories.
The **satori_datastore** resource allows lifecycle management for the datastores.

{{ .SchemaMarkdown | trimspace }}

## Example Usage

{{tffile "examples/datastore/datastore.tf"}}
{{tffile "examples/datastore/datastore-BigQuery.tf"}}
{{tffile "examples/datastore/datastore-PostgreSql.tf"}}

