---
layout: ""
page_title: "satori_datstore (Resource)"
description: |-
satori_datastore resource allows defining datastore(s)
---

# satori_datastore (Resource)

Satori provides the ability to connect to broad range of data stores repositories.
The **satori_datastore** resource allows lifecycle management for the datastores.

{{ .SchemaMarkdown | trimspace }}

## Example Usage

### Example Usage

### Snowflake Example

{{tffile "examples/datastore/datastore.tf"}}

### BigQuery Example

{{tffile "examples/datastore/datastore-BigQuery.tf"}}

### PostgreSQL Example

{{tffile "examples/datastore/datastore-PostgreSql.tf"}}

### Databricks Example

{{tffile "examples/datastore/datastore-Databricks.tf"}}

~> **Note: The datastore resource is stateful:** The datastore resource is stateful, deletion or terraform resource name change should be avoided.