---
layout: ""
page_title: "satori_directory_group (Resource)"
description: |-
satori_directory_group resource allows defining directory groups.
---

# satori_directory_group (Resource)

The **satori_directory_group** resource allows defining directory groups.

## Example Usage

{{tffile "examples/directory/group.tf"}}

{{ .SchemaMarkdown | trimspace }}