---
layout: ""
page_title: "masking_profile (Resource)"
description: |-
masking_profile resource allows defining masking profiles.
---

# masking_profile (Resource)

Satori’s Masking profiles allow organizations to mask query responses for their users to avoid exposing sensitive information.

The **masking_profile** resource allows defining masking profiles.

## Example Usage

{{tffile "examples/masking/masking_profile.tf"}}

{{ .SchemaMarkdown | trimspace }}