---
layout: ""
page_title: "satori_request_access_rule (Resource)"
description: |-
satori_request_access_rule resource allows defining dataset access request rules.
---

# satori_request_access_rule (Resource)

The **satori_request_access_rule** resource allows defining dataset access request rules.

## Example Usage

{{tffile "examples/access_rule/request_access_rule.tf"}}

{{ .SchemaMarkdown | trimspace }}