---
layout: ""
page_title: "satori_self_service_access_rule (Resource)"
description: |-
satori_self_service_access_rule resource allows defining dataset self service access rules.
---

# satori_self_service_access_rule (Resource)

The **satori_self_service_access_rule** resource allows defining dataset self service access rules.

## Example Usage

{{tffile "examples/access_rule/self_service_access_rule.tf"}}

{{ .SchemaMarkdown | trimspace }}