---
layout: ""
page_title: "satori_user_settings (Resource)"
description: |-
satori_user_settings resource allows configuring user's settings.
---

# satori_user_settings (Resource)

Currently supported settings configurations are:
 - Attributes

<br />
<br />

## Example Usage

{{tffile "examples/user_settings/user_settings.tf"}}

### Where the 'user_a.json' file is a JSON map object, for example:
```json
{
  "name": "Ron",
  "age": 30,
  "client_cities": ["Washington", "Lisbon", "Berlin"],
  "is_active": true
}
```

{{ .SchemaMarkdown | trimspace }}