---
layout: ""
page_title: "Provider: Satori"
description: |-
The Satori provider provides resources to interact with the Satori management API.
---

# Satori Provider

The Satori provider provides resources to interact with the Satori management API.

A service account must be created for Terraform.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}