---
layout: ""
page_title: "Provider: Satori"
description: |-
The Satori provider provides resources to interact with the Satori management API.
---

# Satori Provider

The Satori provider provides resources to interact with the Satori management API.

A service account must be created for Terraform.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Resource Dependency Notes

Some of Satori resources have references to other resources, for example, `satori_dataset` dependent on `satori_datastore`.
In this case, the `satori_dataset` resource must be created after the `satori_datastore` resource and destroyed before the `satori_datastore` resource.

In some cases, when the dependent resource should be replaced, for example, replace `satori_datastore` `A` with `satori_datastore` `B` while the `satori_datastore` `A` should be destroyed in the same cycle,
additional `lifecycle` attribute should be added to the `satori_dataset` resource to ensure that the `satori_dataset` resource is updated before the `satori_datastore` `A` resource is destroyed.

For example:
```terraform
  lifecycle {
    create_before_destroy = true
  }
```

More info can be found here: https://github.com/hashicorp/terraform/blob/main/docs/destroying.md#resource-replacement

**Note:**
Pay attention that lifecycle attribute should be applied to the dependent resource, and it has to be applied prior to actual change.
