---
layout: ""
page_title: "satori_dac_deployment_settings (Data Source)"
description: |-
satori_dac_deployment_settings data source allows finding DAC deployment settings by it's ID.
---

# satori_dac_deployment_settings (Data Source)

The **satori_dac_deployment_settings** data source allows finding DAC deployment settings by it's ID.

## Example Usage

{{tffile "examples/dataaccesscontroller/dac_deployment_settings.tf"}}

{{ .SchemaMarkdown | trimspace }}