---
layout: ""
page_title: "satori_data_access_controller (Data Source)"
description: |-
satori_data_access_controller data source allows finding DAC ID by its region, cloud provider, type and unique name.
---

# satori_data_access_controller (Data Source)

The **satori_data_access_controller** data source allows finding DAC ID by its region, cloud provider, type and unique name.

## Example Usage

{{tffile "examples/datastore/datastore.tf"}}

{{ .SchemaMarkdown | trimspace }}